.phonetic {
  font-size: smaller;
  font-weight: normal;
  margin-left: 15px;
  color: rgb(80, 80, 80);
}

.sound {
  color: rgb(80, 80, 80);
  font-size: smaller;
  margin-right: 20px;
  border: solid rgb(80, 80, 80);
  padding: 3px 4px;
  border-radius: 20px;
}

.sound:hover {
  background: rgba(182, 182, 182, 0.5);
}

.definition-text {
  line-height: 22px;
  margin-top: 25px;
}
.part-text {
  font-size: 1.5em;
  line-height: 1.6em;
}
