.Synonym {
  margin-top: 1em;
}

.synonym-word,
.synonym-nonclick {
  position: relative;
  top: -15px;
  padding: 5px 10px;
  margin: 5px;
  border: #505050 solid 1px;
  border-radius: 20px;
  background: none;
  transition: ease-in-out 3ms;
}

.synonym-word:hover {
  background: rgba(182, 182, 182, 0.5);
}
